/* Global */
body {margin-top: 20px; background-color: #ffffff; font-family: Ubuntu, "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; font-weight: 300; }


#page {padding:0; margin: 0 auto; width:100%;}

/* header */

header {padding:0; margin: 0; width:100%; height:150px;}
header .left {float:left; width:50%;}
header .left .hgroup h1 {padding:0; margin:0; float:left;width:100px;}
header .left h1 a {width:100px; height:100px; text-indent: -9999px; background: url('../logo.png') no-repeat 0 0/100px 80px; margin-top: 20px; display: block;}
header .left h3 {width:60px; height: auto; position: absolute; margin-top: 20px; margin-left:90px; color:red;}
header .left .hgroup p {width:65%;float:right; color: solid grey; margin: 0 0 5px 0; padding:0;}
header .left .hgroup span {display:block;}
header .left .hgroup .first {text-align:left; margin-top:20px;}
header .left .hgroup .second {text-align: left;}
header .left .hgroup .third {text-align: left;}


header .right {float:right; width:40%; margin:0; padding:0;}
header .right ul li {display:inline-block; width: 80px; font-size: 22px; color:black;}
header .right ul li a {border-bottom: 5px solid red;text-decoration: none; color:black;}
header .right ul li a:hover {border-bottom: 10px solid black;}
header .right ul li .active {border-bottom: 5px solid black;}


/*main content */
section { width:100%; height: auto; margin-top:0; margin-bottom:20px; background-color: white;padding-bottom: 20px;}
section h2 {margin:0; padding-top: 15px; text-align: center; color: white; background-color: black; width: 100%; height: 60px;}
section table { width: 95%; margin:20px 20px 20px 20px; padding:20px;}



section table { width: 95%; margin:40px 20px 20px 20px; padding-left:40px;}
section table td {text-align: center;color:black;}
section table .firstColumn {width: 50%; border-right: 3px solid red;}
section table .content { width: 50%;}


/*footer*/
footer { background-color: black; color: white; float: bottom; width:100%; font-size:15px; height:60px; font-family:cursive; text-align: center;}



@media (max-width: 900px) {
section {margin-top:40px;}
section table img {width: 200px; height:auto;}
header .right nav ul {float:left; margin-left:0;}
header .right {float:bottom; width:100%; margin-left: 0px; padding:0;}  
header .left {float:left; width:100%;}
header .left .hgroup h1 {float:left; width:30%;}
header .left .hgroup h2 {float:right; width:60%;}
}

@media (max-width: 400px) {
    section {margin-top:40px;}
    section table img {width: 100px; height:auto;}
    header #menu ul li {font-size: 18px;}
    header .right {float:bottom; width:100%; margin-left: 0; padding:0;}
    footer .copyright {font-size:10px;}
}


